<h3>Customer Details</h3>
<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9"> 
          <table class="tbl">
          <tr><td>
          <input type="text"  ng-model="search" class="form-control pull-left" placeholder="Search...." />
          </td><td>
          <button ng-click="searchItem = search"  class="btn btn-info btn-sm" ><span class="glyphicon glyphicon-search"> Search</span></button>
          <button type="reset" ng-click="search = ''" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"> Reset</span></button></td><td>
          <button type="button" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"> Add New User</span></button>
          </td></tr>
          </table>
          <hr>
<div class="alert alert-info" ng-if="message">
<a href="#" class="close" data-dismiss="alert" ng-click="clearMessage();">&times;</a>
<strong>{{message}} </strong>
</div>
 
<table class="table table-striped">
<thead>
<tr>
  <th>Index</th>
  <th>Acc No</th>
  <th>Name</th>
  <th>Amount</th>
  <th>Email</th>
  <th>Edit</th>
  <th>Delete</th>
  </tr>
</thead>
<tbody >
  <tr ng-repeat="user in users |  orderBy:'name'  | filter : searchItem ">
    <td>{{$index+1}}</td>
    <td>{{user.acc}}</td>
    <td>{{user.name}}</td>
    <td>{{user.balance | currency: "$ "}}</td>
    <td>{{user.email}}</td>
    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModalEdit" ng-click="selectUser(user)">Edit</button></td>
    <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete" ng-click="selectUser(user)">Delete</button></td>
  </tr>
</tbody>
</table>
</div>


<!--Add New User Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">User Registration </h4>
      </div>
      <div class="modal-body">
            <!--   Add New User Form Start -->  
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="acc">Account No</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="acc" placeholder="Enter account number" ng-model="newUser.acc">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="newUser.name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="amount">Balance</label>
          <div class="col-sm-10"> 
            <input type="text" class="form-control" id="amount" placeholder="Enter amount" ng-model="newUser.balance">
          </div>
        </div>
        <div class="form-group">
           <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="newUser.email">
          </div>
          </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="saveUser(user)">Save</button>
          </div>
        </div>
      </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--     Form End  -->

  </div>
</div>
<!--Add New User Modal  End -->



<!--Edit User Modal -->
<div id="myModalEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit User Information </h4>
      </div>
      <div class="modal-body">
            <!--   Add New User Form Start -->  
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2" for="name">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="clickedUser.name">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="amount">Balance</label>
          <div class="col-sm-10"> 
            <input type="text" class="form-control" id="amount" placeholder="Enter amount" ng-model="clickedUser.balance">
          </div>
        </div>
        <div class="form-group">
           <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="clickedUser.email">
          </div>
          </div>
        <div class="form-group"> 
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="updateUser()">Save</button>
          </div>
        </div>
      </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--     Form End  -->

  </div>
</div>
<!--Edit User Modal  End -->

<!--Delete User Modal -->
<div id="myModalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete User </h4>
      </div>
      <div class="modal-body">
            <strong style="color: #ff0000;">Are you really want to delete {{clickedUser.name}}'s information...!! </strong> 
             <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteUser(user)">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
 </div>
</div>
<!--Delete User Modal  End -->
