
  <!-- Footer Section  -->
  <span class="clearfix"></span>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
    <ul class="social-network social-circle">
        <li><a href="https://www.facebook.com/login/" target="_balnk" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/login" target="_balnk" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://plus.google.com/collections/featured" target="_balnk" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="https://www.linkedin.com/uas/login" target="_balnk" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
