<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 left_menu border_right">
   
   <h4>SERVICES</h4>
    <hr class="policy_rule">
    <div class="well well-sm"><a href="#/policy_1">Child Plans</a></div>
    <div class="well well-sm"><a href="#/policy_2">Pension Plans</a></div>
    <div class="well well-sm"><a href="#/policy_3">Smart Women Plans </a></div>
    <div class="well well-sm"><a href="#/policy_4">Protection Plans</a></div>
    <div class="well well-sm"><a href="#/policy_5">Health Insurance</a></div>
      
</div>  