<div class="policy_div">
	<h3>Smart Women Saving plans</h3>
	<hr class="policy_rule">
	<p>
	You are special, you are smart, and you have put in your very best to turn your dreams into reality. You have reached a stage in life where you have achieved what you had dreamt to achieve.
	</p><p>
	You juggle between home and work, you find a way through the ways of the world, you run to keep up with the changing trends while you stand firm for your family. You are an enigma the world is yet to decode. You are unique and so are your financial needs. Now it is time for you to plan your finances and secure you and your family’s future. 
	</p><p>
	We at SBI Life understand your needs and offer you a product that is crafted just for your unique needs. Presenting to you ’SBI Life - Smart Women Advantage’, a participating Individual Traditional Endowment Plan with added protection features that helps you with financial planning and offers you that security that you will value forever. 
	</p>
</div>