<div class="policy_div">
	<h3>Child Plans</h3>
	<hr class="policy_rule">
	<h6>FINANCIAL PROTECTION</h6>
	<p>
	In case of death of the life assured, death benefit paid out to the nominee as a lump sum.	

	</p>
	<h6>GROWTH OF INVESTMENT </h6>
	<p>Premium you pay will be invested in your choice of equity, debt or balanced funds to build a corpus for your child's future
	</p>
	<h6>EMERGENCY FUND</h6>
	<p>
	You can make withdrawals from your investment on completion of 5 policy years**.
	</p>
</div>